#root {
  /* max-width: 1680px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.node-container {
  position: relative;
}

.node-container .handle {
  width: 8px !important;
  height: 8px !important;
  background: white !important;
}

.react-flow__node {
  padding: 0 !important;
  border-radius: 4px !important;
}

.react-flow__handle {
  min-width: 8px !important;
  min-height: 8px !important;
  width: 8px !important;
  height: 8px !important;
}

/* New rules for fixing image export */
.react-flow__viewport {
  transition: none !important;
}

.react-flow__node {
  transition: none !important;
}

.react-flow__edge {
  transition: none !important;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
